@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cuprum:ital@1&family=Kanit:wght@300&family=News+Cycle&family=Rubik+Vinyl&family=Varela+Round&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
header{
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(14, 12, 56));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    height: 10vh;
    min-height: 100px;
    z-index: 1;
}
header div h1{
    margin: 2vh 0;
    color: rgb(255, 255, 255);
}
nav ul {
    display: flex;
    gap: 3vw;
}
nav ul li{
    list-style: none;
}
nav a{
    color: rgb(255, 255, 255);
}
nav a:hover{
    color: beige;
}
nav .active{
    background-color: rgb(91, 36, 208);
    padding: 0 20px;
    height: 28px;
    display: flex;
    justify-content: center;
    transition: 1s;
    border-radius: 10px;
}
.menuIcon{
    cursor: pointer;
    display: none;
}
.menuIcon div{
    width: 32px;
    height: 2px;
    background-color: #FFF;
    margin: 8px;
}
.darkModeButton{
    display: none;
}
.buttonDarkMode {
	width:50px;
	height:20px;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 200px;
	box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
	cursor: pointer;
	transition: 0.3s;
}
.buttonDarkMode:after {
	content: "";
	width:18px;
	height: 18px;
	position: absolute;
	background: linear-gradient(180deg,#ffcc89,#d8860b);
	border-radius: 18px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: 0.3s;
	left: 32px;
}
.buttonDarkModeInput {
	width: 0;
	height: 0;
	visibility: hidden;
}
.buttonDarkModeInput:checked + .buttonDarkMode {
	background: #242424;
}
.buttonDarkModeInput:checked + .buttonDarkMode:after {
	left:18px;
	transform: translateX(-100%);
	background: linear-gradient(180deg,#777,#3a3a3a);
}
.buttonDarkMode:active:after{
	width: 26px;
}
.buttonDarkModeInput:checked + .buttonDarkMode + .background {
	background:#242424;
}

@media (max-width: 1050px){
    .menu{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-image: linear-gradient(to right, rgb(14, 12, 56), rgb(15, 15, 56));
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    nav .menu li{
        margin: 0;
    }
    .menuIcon{
        display: block;
    }
    .activeMenu{
        transform: translateX(0%);
    }
    .darkModeButton{
        display: block;
    }
}
@media (max-height: 700px){
    .menu{
        margin-top: 20px;
    }
}
@media (max-height: 500px){
    .menu{
        margin-top: 50px;
    }
}