@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cuprum:ital@1&family=Kanit:wght@300&family=News+Cycle&family=Rubik+Vinyl&family=Varela+Round&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
header{
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(14, 12, 56));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    height: 10vh;
    min-height: 50px;
    z-index: 1;
}
header div h1{
    margin: 2vh 0;
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    gap: 3vw;
}
nav a{
    color: rgb(255, 255, 255);
}
nav a:hover{
    color: beige;
}