@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fjalla+One&family=Kanit:wght@300&family=News+Cycle&family=Roboto:ital,wght@1,300&family=Rubik+Vinyl&family=Varela+Round&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #8e8e8e;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}
.leftItens{
    position: fixed;
    bottom: 30%;
    left: 0;
    z-index: 1;
}
.leftItens .temaButtons{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    border: none;
    border-radius: 0 10px 10px 0;
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(14, 12, 56));
    color: rgb(255, 220, 46);
    cursor: pointer;
}
.temaButtons:focus{
    outline: rgb(255, 220, 46) solid 2px;
}
.darkMode{
    background-color: black !important;
    transition: .3s;
}
.darkMode h2{
    color: #FFF !important;
}
.darkMode h1{
    color: #FFF !important;
}
#sunButton{
    display: none;
}

.darkMode #sunButton{
    display: block !important;
    color: rgb(255, 220, 46);
}
.darkMode #moonButton{
    display: none;
}
section{
    background-color: #f9f9f9;
}
#home{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 100vh;
}
#home h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}
#home div h1{
    font-size: 3.875rem;
    position: relative;
    color: transparent;
    width: fit-content;
    animation: abertura .5s ease forwards;
    animation-delay: 2s;
}
#home h1 span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(91, 36, 208);
    top: 0;
    left: 0;
    animation: abertura_box 1s ease;
    animation-delay: 1.5s;
}
#home h2{
    font-size: 1.25rem;
    position: relative;
    color: transparent;
    animation: abertura .5s ease forwards;
    width: fit-content;
}
#home h2 span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(91, 36, 208);
    top: 0;
    left: 0;
    animation: abertura_box 1s ease;
    animation-delay: .5s;
}
#home div h2:nth-child(1){
    animation-delay: 1s;
}
#home div h2:nth-child(3){
    animation-delay: 3s;
}
#home div h2:nth-child(1) span{
    animation-delay: .5s;
}
#home div h2:nth-child(3) span{
    animation-delay: 2.5s;
}

.buttonCVDownload{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttonCV{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: transform .3s ease;
    animation: abertura_botao 1s ease both;
    animation-delay: 3.5s;
    opacity: 0;
}
.buttonCV:hover{
    transform: scale(1.02);
    color: rgb(255, 220, 46);
}
.buttonCV:focus{
    outline: rgb(255, 220, 46) solid 2px;
}
#home .imagem{
    opacity: 0;
    animation: abertura_imagem 1s ease both;
    animation-delay: 3.5s;
}
#home .imagem img{
    transform: translateY(0px);
    animation-delay: 3.5s;
    animation: float 5s ease-in-out infinite;
}
.seta{
    position: absolute;
    bottom: 0;
    transform: translateY(0);
    color: rgb(74, 61, 158);
    animation: float 2s linear infinite;
}
#sobreMim{
    background-color: #4A3D9E;
    display: flex;
    align-items: center;
    padding: 5vw;
}
#sobreMim .container{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
}
.photo{
    width: 350px;
}
#foto{
    border-radius: 50%;
    width: 100%;
    height: 350px;
    object-fit: cover;
}
#sobreMim .sobreTxt{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
}
#sobreMim .sobreTxt h2{
    margin-bottom: 2vh;
}
#projetos{
    background-color: #f9f9f9;
    padding-bottom: 100px;
}
#projetos .projetos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.projeto{
    background-color: #ffffff;
    padding: 1.4rem;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
}
.reverseProjeto{
    display: flex;
    flex-wrap: wrap-reverse;
}
.containerDescricao{
    width: 30vw;
}
.containerDescricao h3{
    text-transform: uppercase;
    text-align: center;
}
.containerDescricao p{
    font-weight: 500;
}
.projeto img{
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.titulo{
    margin: 5vh 0 5vh 5vw;
}
#skills{
    background-color: #f9f9f9;
    height: 45vh;
    transition: .4s;
}
#txt-logos{
    color: white;
}
#skills h2{
    color: black;
    font-weight: bold;
    transition: .4s;
}
.logos{
    overflow: hidden;
    padding: 40px 0;
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(74, 61, 158));
    white-space: nowrap;
    position: relative;
}
#skills .logos-slide{
    display: inline-block;
    animation: slide 10s linear infinite;
}
.logos-slide img{
    height: 70px;
    margin: 0 40px;
}
#certificacoes{
    background-color: #f9f9f9;
    height: 45vh;
    transition: .4s;
}
#certificacoes h2{
    color: black;
    transition: .4s;
}
#certificacoes p{
    color: black;
    display: flex;
    flex-direction: column;
    margin: 3vh 0;
    transition: .4s;
}
#contato{
    background-color: #f9f9f9;
    padding: 0 30px 30px 0px;
}
.containerContato{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#contato form{
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    background-color: white;
    padding: 1rem;
    border-radius: 1.7rem;
}
#contato form label{
    font-size: 18px;
    font-weight: 550;
}
#contato form textarea{
    resize: none;
    margin-bottom: 1vh;
    border: 1px lightgray solid;
}
#contato .textoContato{
    margin-bottom: 1vh;
    border: 1px lightgray solid;
    border-radius: 7px;
    padding: 0 5px;
    transition: .2s;
}
#contato .textoContato:focus, #contato .textoContato:hover{
    outline: none;
    border-color:rgb(91, 36, 208);
}
.contatoItens{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.contatoItens svg, i{
    color: black;
    font-size: 2.5rem;
}
.contatoItens svg:hover, i:hover{
    color: rgb(91, 36, 208);
}
.contatoGroup{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.contatoGroup h2{
    color: black;
}
.contatoGroup h2:hover{
    color: rgb(91, 36, 208);
}
.iconContato{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 4vw;
    min-width: 55px;
    min-height: 55px;
}
footer{
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(14, 12, 56));
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    min-height: 100px;
}
footer .icons{
    display: flex;
    gap: 20px;
    margin-bottom: 1.5vh;
}
footer i{
        color: white;
        transition: .2s;
        font-size: 1.5rem;
}
footer i:hover{
        color: rgb(91, 36, 208);
}
@keyframes abertura {
    to {
        color: rgb(0, 0, 0);
    }
}
@keyframes abertura_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes abertura_botao{
    100% {
        background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(91, 36, 208));
        opacity: 1;
        
    }
}
@keyframes abertura_imagem {
    100%{
        opacity: 1;
    }
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes float {
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
[data-anime] {
    opacity: 0;
    transition: .3s;
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
@media (max-width: 1050px){
    #home .imagem{
        display: none;
    }
    #sobreMim .container{
        display: flex;
        gap: 8vh;
    }
    #sobreMim .sobreTxt{
        width: 100%;
    }
    .projetos{
        padding: 0 1rem;
    }
    .projeto{
        gap: 4vh;
    }
    .projeto img{
        width: 100%;
    }
    .containerDescricao{
        width: 100%;
    }
    #contato{
        padding: 1rem;
    }
    #contato form{
        width: 100%;
        max-width: 400px;
        min-width: 0;
    }
    .containerContato{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7vh;
    }
    .contatoGroup{
        gap: 7vw;
    }
    .iconContato{
        width: 70px;
        height: 70px;
    }
    .leftItens{
        display: none;
    }
}
@media (max-width: 430px){
    .photo{
        width: auto;
        display: flex;
        align-items: center;
    }
    #foto{
        width: 100%;
        height: 70%;
    }
    #sobreMim .container{
        display: flex;
        gap: 0;
    }
}
@media (max-height: 500px){
    #home .txtInicio{
        margin-top: 50px;
    }
}
