@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fjalla+One&family=Kanit:wght@300&family=News+Cycle&family=Roboto:ital,wght@1,300&family=Rubik+Vinyl&family=Varela+Round&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#home{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 100vh;
}
#home h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}
#home div h1{
    font-size: 3.875rem;
    position: relative;
    color: transparent;
    width: fit-content;
    animation: abertura .5s ease forwards;
    animation-delay: 2s;
}
#home h1 span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(91, 36, 208);
    top: 0;
    left: 0;
    animation: abertura_box 1s ease;
    animation-delay: 1.5s;
}
#home h2{
    font-size: 1.25rem;
    position: relative;
    color: transparent;
    animation: abertura .5s ease forwards;
    width: fit-content;
}
#home h2 span{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(91, 36, 208);
    top: 0;
    left: 0;
    animation: abertura_box 1s ease;
    animation-delay: .5s;
}
#home div h2:nth-child(1){
    animation-delay: 1s;
}
#home div h2:nth-child(3){
    animation-delay: 3s;
}
#home div h2:nth-child(1) span{
    animation-delay: .5s;
}
#home div h2:nth-child(3) span{
    animation-delay: 2.5s;
}

.buttonCVDownload{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttonCV{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: transform .3s ease;
    animation: abertura_botao 1s ease both;
    animation-delay: 3.5s;
    opacity: 0;
}
.buttonCV:hover{
    transform: scale(1.02);
}
#sobreMim{
    background-color: #4A3D9E;
    display: flex;
    align-items: center;
    height: 50vh;
}
#sobreMim .container{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.photo{
    width: 350px;
}
#foto{
    border-radius: 50%;
    width: 100%;
    height: 350px;
    object-fit: cover;
}
#sobreMim .sobreTxt{
    width: 35vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
}
#sobreMim .sobreTxt h2{
    margin-bottom: 2vh;
}
#projetos{
    height: 90vh;
}
#projetos .projetos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.titulo{
    font-weight: bold;
    margin: 5vh 0 5vh 5vw;
}
#skills{
    background-color: black;
    height: 45vh;
}
#skills h2{
    color: white;
}
#skills .container{
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(74, 61, 158));
    width: 100%;
    height: 10vh;
}
#certificacoes{
    background-color: black;
    height: 45vh;
}
#certificacoes h2{
    color: white;
}
#certificacoes p{
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}
#contato{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contato form{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
#contato form textarea{
    resize: none;
}
footer{
    background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(14, 12, 56));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}
@keyframes abertura {
    to {
        color: rgb(0, 0, 0);
    }
}
@keyframes abertura_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes abertura_botao{
    100% {
        background-image: linear-gradient(to right, rgb(15, 15, 56), rgb(91, 36, 208));
        opacity: 1;
        
    }
}